<!--Banner Picture-->
<div id="index-banner" class="parallax-container">

    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center">Mongo Scrapper</h1>
            <div class="row center">
                <h5 class="header col s12">Scrapes Articles from selected websites</h5>
            </div>

            <div class="row center">
                <a href="/scrape" id="scrape-button"
                   class="btn-large waves-effect waves-light">Start Scraping</a>
            </div>

            <br><br>

        </div>
    </div>

    <div class="parallax">
        <img src="http://res.cloudinary.com/alrod909/image/upload/v1508636947/mongo-scrapper/background1.jpg"
             id="banner1">
    </div>

</div>