<!--Banner Picture-->
<div id="index-banner" class="parallax-container">

    <div class="section no-pad-bot">

        <div class="container">

            <h1 class="header center notIndex">Scrape</h1>

        </div>
    </div>

    <div class="parallax">
        <img src="http://res.cloudinary.com/alrod909/image/upload/v1508636947/mongo-scrapper/background2.jpg"
             id="banner1">
    </div>

</div>


<!---->
<div class="container">

    <div class="section">


    </div>

</div>