<!--Banner Picture-->
<div id="index-banner" class="parallax-container">

    <div class="section no-pad-bot">

        <div class="container">

            <h1 class="header center notIndex">Scrape</h1>

            <div class="row center">
                <a href="#" id="scrape-button"
                   class="btn-large waves-effect waves-light">Scrape</a>
            </div>

        </div>
    </div>

    <div class="parallax">
        <img src="http://res.cloudinary.com/alrod909/image/upload/v1508636947/mongo-scrapper/background3.jpg"
             id="banner1">
    </div>

    <div class="input-field">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">World</option>
            <option value="2">Sports</option>
            <option value="3">Tech</option>
            <option value="4">Food</option>
            <option value="5">Arts</option>
        </select>
        <label>Select Articles to Scrape</label>
    </div>

</div>


<!--Articles Scraped From Website desired-->
<div class="container">

    <!--Where each article goes-->
    <div class="section" id="arcticlesToAdd">


        <div class="row">

            <ul class="collapsible" data-collapsible="accordion">

                <li>

                    <div class="collapsible-header waves-effect waves-purple">

                        <ul class="collection">

                            <li class="collection-item avatar"><i
                                    class="material-icons circle">find_in_page</i><span
                                    class="title"><h5>1. Article</h5></span>
                                <p>More Info<br></p>

                            </li>

                        </ul>

                        <a class="btn-floating btn-large waves-effect waves-red"><i class="material-icons">add</i></a>

                    </div>


                    <div class="collapsible-body">


                    </div>

                </li>

            </ul>

        </div>


    </div>

</div>